a{ 
  text-decoration:none; 
  color:#333; 
}

* {
  font-family : 'Raleway', sans-serif;
  font-size: 62,5%;
}

body {
  margin: 0;
  background: url('pics/background.png');
  background-size: 1440px 800px;
}

#navbar{
/*  padding-top: 13px;*/
}

#section1{
  margin-left: 100px;
  margin-right: 100px;
  background-color: #60A8B7;
  color: white;
  height: 200px;
}

#section1row1 {
  margin-left: 100px;
  margin-right: 100px;
  background-color: black;
  color: white;
  height: 200px;
}

#section1row2 {
  margin-left: 100px;
  margin-right: 100px;
  background-color: pink;
  height: 200px;
}

#section1row3 {
  margin-left: 100px;
  margin-right: 100px;
  background-color: yellow;
  height: 200px;
}

.feature {
  border-right: solid 1px grey;
  padding-top: 35px;
  height: 200px;
}

#section2 {
  height: 300px;
}

#section3 {
  height: 150px;
  background-color: pink;
}

.feature2 {
  border-right: solid 1px grey;
  height: 230px;
}

#thumb {
  background-color: white;
  border: solid 1px grey;
  margin-left: 100px;
  margin-right: 100px;
}

.thumb-child {
  padding-top: 35px;
  height: 230px;
}

#section4{
  height: 150px;
  background-color: green;
}

#section4row1 {
  height: 100px;
  background-color: pink;
}

#section4row2 {
  height: 100px;
}

#section4row3 {
  height: 100px;
  background-color: blue;
}

#section5 {
  height: 150px;
  background-color: white;
}

#footer {
  height: 50px;
  background-color: red;
}


/*

#pSection1{
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
}

#border_middle{
  border-right: 1px solid #EEEEEE;
  padding-top: 55px;
  padding-bottom: 55px;
}

#section2 {
  background-color: #7E7A9E;
  padding-top: 65px;
  color: white;
  height: 200px;
}

#section2text {
   background-color: #7E7A9E;
   padding-top: 30px;
   padding-bottom: 30px;
   color: white;
}

#section3 {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 35px;
  padding-bottom:250px;
  background-color: white;
  height: 300px;
}

.headersection2{*/
/*  border-bottom: 1px solid grey;
  padding-top: 65px;
  color: white;
  height: 300px;
}

#icon1 {
  color: #C2BEDD;
}

#icon2 {
  color: #60A8B7;
}

#icon3 {
  color: #A8CEBD;
}

#learn_more {
  background-color: white;
  border: solid 1px #EEEEEE;
  border-left: solid 1px #EEEEEE;
  border-right: solid 1px #EEEEEE;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  height: 100px;
}

#section4 {
  background-color:#8592BA;
  padding-top: 55px;
  padding-left: 120px;
  padding-right: 120px;
  height: 300px;
  color: white;
}

#section5 {
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 35px;
  height: 350px;
}


*/



@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
