/*ALL*/

a{ 
  text-decoration:none; 
  color:#333; 
}

body {
  margin: 0;
  background: url('pics/background.png');
  background-size: 1440px 800px;
  font-family : 'Raleway', sans-serif;
}

p, h1 {
  font-family : 'Raleway', sans-serif;
}

/*NAVIGATION*/

#logo{
  width:40px;
  height:40px;
  max-width: 100%;
}

#navbar {
  padding-top: 10px;
  background-color: #242424;
  border-bottom: 1px solid #b9b9b9;
  font-family: 'Lato', sans-serif;
}

#navbar a {
  color: #cccccc !important;
}

#navbar a:hover {
  color: #ffffff !important;
  background-color: #646464 !important;
}

/*HEADER*/

.header {
  padding: 140px 0 60px 0;
  background: url(../img/baniereFond.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  border-bottom: 2px solid #c9c9c9;
}

.header h1 {
  color: #FF3759;
  font-family: 'Pacifico', cursive;
  font-size: 7.5em;
}

.header p {
  color: white;
  font-size: 1.3em;
}

.header .btn {
  padding: 5px 50px 5px 50px;
}

/*STUDIES*/

.about {
  padding: 100px 0 100px;
  text-align: center;
}

.about h1 {
  font-size: 1.8em;
  color: black;
  padding: 0 0 25px;
}

.about p {
  padding-bottom: 25px;
}

.about #img {
  width:100px;
  height:100px;
  max-width: 100%;
}

/*SKILLS*/

.skills {
  background-color: #143B40;
  text-align: center;
  color: white;
  padding: 90px 0 90px;
}

.skills h1 {
  font-size: 2em;
  padding-bottom: 25px;
}

.features img {
  padding: 15px 0 35px;
}

/*PRESS*/

.press {
  padding: 90px 0 90px;
  text-align: center;
}

.press h1 {
  font-size: 1.8em;
  padding-bottom: 25px;
  color: #FF3759;
}

.press .certifs-logo li img {
  opacity: 0.5;
  padding-bottom: 25px;
}

.press .certifs-logo li img {
  opacity: 0.5;
  padding-bottom: 25px;
}

.press .certifs-logo li:hover img {
  opacity: 1;
}

.press {
  padding: 90px 0 90px;
  text-align: center;
}

.press .press-logo li img {
  opacity: 0.5;
  padding-bottom: 25px;
}

.press .press-logo li img #press {
  opacity: 0.5;
  padding-bottom: 25px;
  width:250px;
  height:180px;
  max-width: 100%;
}

.press .press-logo li:hover img {
  opacity: 1;
}

.sites {
  padding: 90px 0 90px;
  text-align: center;
}

/*SCREENSHOTS*/

.screenshots {
  background-color: #143B40;
  padding: 90px 0 90px;
  text-align: center;
  color: white;
}

.screenshots img {
  padding: 20px 0 30px;
}

.screenshots h1 {
  font-size: 2em;
}

/*CONTACT*/

.contact {
  padding: 100px 0 100px;
  text-align: center;
}

.contact h1 {
  font-size: 2em;
  padding-bottom: 25px;
}

.contact .fa {
  color: #143B40;
  padding: 20px 10px 40px;
}

.contact li {
  padding-top: 10px; 
}

/*FOOTER*/

.footer {
  background-color: #143B40;
  color: white;
  padding: 30px 0 30px;
}

.footer .fa {
  color: #FF3759;
}

.footer h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}







@media (min-width: 768px) {

  .header {
    text-align: center;
    padding-top: 20%;
  }

  .header h1 {
    font-size: 5em;
  }

  .header p {
    font-size: 1em;
  }

  .header .btn {
    padding: 5px 12px 5px 12px;
  }

  .header img {
    padding-top: 10%;
  }




}
@media (min-width: 992px) {

  .header h1 {
    font-size: 5em;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: @screen-xs-max) { 480 }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 768 }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 992 }
@media (min-width: @screen-lg-min) { 1200 }
